<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>{{scream_it welcome_message}}</p>

    {{> footer}}
</body>

</html>